<!DOCTYPE html>
<html lang="en">
<head>
<title>socket.io chat</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="style.css" rel="stylesheet">
<link href="chat.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>

<!-- <style>*{outline:1px solid red;}</style> -->

<script type=text/javascript>

function textWrap(str, len, br) {
    if (str.length > len) {
        let p = len;
        while (p > 0 && str[p] !== ' '){ p -= 1; }
        if (p > 0) {
            var left = str.substring(0, p);
            var right = str.substring(p + 1);
            return left + br + textWrap(right, len, br);
        }
    }
    return str;
}

$(document).ready(() => {
    
    const socket = io.connect();
    let current_user;

    // Request user list and messages
    socket.emit('request_content');

    // Print list of users
    socket.on('list_users', (users) => {
        for(u of users){
            let span = `<span class=${u.id}>${u.name}<br></span>`
            $('.users').prepend(span);
        }
    });

    // Print list of messages
    socket.on('list_msgs', (chat) => {
        for(c of chat){
            let m = `<span><strong>${c.user}</strong>: ${c.message}<br></span>`
            $('.chat').append(m);
        }
    });

    // When visitor enters username, validate
    $('.join').keypress((e) => {
        if (e.keyCode === 13){
            e.preventDefault();
            if($('.join').val().length < 3){
                $('.join-info').hide();
                $('.join-warn').css('display', 'block');
            }
            else { // If valid, request access and open chat
                let username = $('.join').val();
                let user = {name:username};
                current_user = username;
                $('.join-warn').css('display', 'none');
                $('.join').fadeOut();
                $('.join-info').fadeOut();
                $('.message').attr('disabled', false);
                $('.blur').removeClass('blur');
                socket.emit('add_user', user);
            }
        }
    });

    // => USER_JOIN
    socket.on('user_join', (u) => {
        let span = `<span class=${u.id}>${u.name}<br></span>`
        $('.users').prepend(span);
    });

    // (CLOSE TAB) -> USER_LEFT =>
    $(window).on('beforeunload', () => {
        let user = {id:socket.id}; // hmm...
        socket.emit('user_left', user);
    });

    // => REMOVE_USER
    socket.on('remove_user', (u) => {
        $(`.${u.id}`).remove();
    });

    // (MESSAGE) -> ADD_MSG =>
    $('.message').keypress((e) => {
        if (e.keyCode === 13){
            e.preventDefault();
            if($('.message').val().length !== 0){
                let text = $('.message').val();
                text = textWrap(text, 45 - current_user.length, '<br>')
                let message = {
                    message:text,
                    user:current_user
                };
                $('.message').val('');
                socket.emit('add_msg', message);
            }
        }
    });

    // => PRINT_MSG
    socket.on('print_msg', (t) => {
        let msg = `<span><strong>${t.user}</strong>: ${t.message}<br></span>`
        $('.chat').append(msg);
    });

});

</script>

<body>
<new-row>
    <col-3></col-3>
    <col-6>
        <header class=text-center>
            <h1>socket.io chatbox</h1>
            <h4>join the fun</h4>
        </header>
    </col-6>
    <col-3></col-3>
</new-row>

<new-row>
<col-1></col-1>

<col-4>
    <col-6></col-6>
    <col-6>
            <article>
                <header class=text-center><strong>Users</strong></header>
                <div class='users text-center blur'></div>
            </article>
            <form>
                <div><input type=text class=join placeholder="Enter username" maxlength=20></div>
            </form>
            <alert-info class='join-info text-center'>
                <small><strong>Enter your username<br>
                to join the chat!</strong></small>
            </alert-info>
            <alert-danger class='join-warn text-center'>
                <small><strong>Your username must be<br>
                at least 3 characters long!</strong></small>
            </alert-danger>
    <col-6>
</col-4>

<col-4>
    <article>
        <header><strong>Chatbox</strong></header>
        <div class='chat blur'></div>
    </article>
    <form>
        <div><input type=text class=message placeholder="Type here..." disabled></div>
    </form>
</col-4>

<col-1></col-1><col-1></col-1>
</new-row>
</body>
</html>